
@media (min-width: 576px) { 
   p{
       background-color: lightpink;
       font-weight: bold;
   }
   
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    p{
        background-color: lightgreen;
        font-weight: normal;
    }
 }


/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }